<style>
  .mb-4 {
    margin-bottom: 10px;
  }

  .border-green {
    border: 1px solid green;
  }

  .border-red {
    border: 1px solid red;
  }

  .text-danger {
    font-size: 13px;
  }

  .text-danger1 {
    color: red;
    font-size: 18px;
  }

  .modal-dialog.modal-xl {
    width: 900px;
  }
</style>
<div class="modal-body">
  <form name="f2" ng-submit="ADD_CANDID_PROJECT(candi_project);">
    <div class="mb-3 row">
      <label for="ptitle" class="col-sm-2 col-form-label">Project Title<span class="text-danger1">*</sup></label>
      <div class="col-sm-10">
        <input type="text" maxlength="100" name="t2" class="form-control" ng-model="candi_project.project_name" id="ptitle"
          ng-required="true" ng-class="pnameValid ? 'border-green' : 'border-red'" ng-keyup="checkLengthProName()"><span
          class="text-danger" ng-show="isProjectTitleErrShow">{{proErorMsg}}</span>
        <span style="float: right;"> {{proNamelen}}/100</span>
      </div>
    </div>

    <div class="mb-4 row">
      <div class="col-md-6 row">
        <label for="pwebsite" class="col-sm-4 col-md-4 col-form-label">Website</label>
        <div class="col-sm-7" style="margin-left: 10px;">
          <input type="text" name="website" class="form-control" ng-model="candi_project.website" id="pwebsite">
        </div>
      </div>
      <div class="col-md-6 row">
        <label for="prole" class="col-sm-2 col-form-label">Role</label>
        <div class="col-sm-9">
          <input type="text" name="role" class="form-control" ng-model="candi_project.role" id="prole">
        </div>
      </div>
    </div>

    <div class="mb-4 row">
      <div class="col-md-5 row">
        <label for="pstart_date" class="col-sm-5 col-form-label">Start Date</label>
        <div class="col-sm-6" style="margin-left: 5px;">
          <input type="date" name="start_date" class="form-control" ng-model="candi_project.start_date"
            id="pstart_date">
          <!-- <input type="date" ng-init="candi_project.start_date=(myDate | date:'yyyy-MM-dd')"
            ng-model="candi_project.start_date" /> -->
        </div>
      </div>
      <!-- {{candi_project.start_date}} -->
      <div class="col-md-5 row">
        <label for="pend_date" class="col-sm-4 col-form-label">End Date</label>
        <div class="col-sm-8">
          <input type="date" name="end_date" class="form-control" ng-disabled="disable_enddate"
            ng-model="candi_project.end_date" id="pend_date">
        </div>
      </div>
      <div class=" col-md-2">
        <div class="form-check">
          <input class="form-check-input" ng-click="stil_work(candi_project.still_work)"
            ng-model="candi_project.still_work" type="checkbox" value="" id="stilWork">
          <label class="form-check-label" for="stilWork">
            Still work
          </label>
        </div>
      </div>
    </div>

    <div class="mb-4 row">
      <label for="file" class="col-sm-2 col-form-label">Resume</label>
      <div class="col-sm-10">
        <input type="file" name="file" fileread="candi_project.resume" class="form-control" id="file" accept="application/pdf">
        <div ng-if="candi_project.hidden_id!=''">
          <div data-ng-repeat="row in candi_project.reume_datas">
            Uploaded resume : <a href="../upload/{{row.resume_name}}" target="_blank">Open</a> | uploaded on : {{row.added_date}}
          </div>
        </div>
      </div>
    </div>

    <div class="mb-4 row">
      <label for="pproject_desc" class="col-sm-2 col-form-label">Project Description<span
          class="text-danger1">*</sup></label>
      <div class="col-sm-10">
        <textarea ck-editor class="form-control" id="pproject_desc" ng-model="candi_project.project_desc"
          placeholder="Enter your project description here..." required></textarea>
      </div>
    </div>

    <div class="mb-4 row">
      <div class="col-md-6 row">
        <label for="padd_teammate" class="col-sm-4 col-form-label">Add Teammate</label>
        <div class="col-sm-7" style="margin-left: 10px;">
          <input type="text" name="add_teammate" class="form-control" ng-model="candi_project.add_teammate"
            id="padd_teammate">
        </div>
      </div>
      <div class="col-md-6 row">
        <label for="pskill" class="col-sm-4 col-form-label">skill</label>
        <div class="col-sm-8">
          <input type="text" name="skill" class="form-control" ng-model="candi_project.skill" id="pskill">
        </div>
      </div>
    </div>
    <!-- <input type="hidden" ng-model="candi_project.hidden_id"> -->
    <div class="text-center mt-3">
      <button type="button" class="btn btn-secondary" ng-click="cancel()" data-bs-dismiss="modal">Cancel</button>
      <button type="submit" ng-disabled="f2.$invalid" class="btn btn-primary">Save changes</button>
    </div>
  </form>
</div>